In [1]:
#-*- coding: utf-8 -*-
import pandas as pd

In [2]:
CCTV_Seoul = pd.read_csv('C:\\Users\\ghdld\\DataScience\\Data\\01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [3]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [4]:
CCTV_Seoul.columns[0] #str 타입으로 return

'기관명'

In [5]:
#df.rename(index=str, columns={"A": "a", "B": "c"})
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace = True) #rename이 갑자기 됨..
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
pop_Seoul = pd.read_excel('C:\\Users\\ghdld\\DataScience\\Data\\01. population_in_Seoul.xls', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [7]:
pop_Seoul = pd.read_excel('C:\\Users\\ghdld\\DataScience\\Data\\01. population_in_Seoul.xls',
                         header = 2,  #anchor of header
                         usecols = 'B, D, G, J, N', #parse_cols was deprecated to usecols
                         encoding = 'utf-8')
pop_Seoul.head()

ImportError: Install xlrd >= 0.9.0 for Excel support

In [ ]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : "구별",
                         pop_Seoul.columns[1] : "인구수",
                         pop_Seoul.columns[2] : "한국인",
                         pop_Seoul.columns[3] : "외국인",
                         pop_Seoul.columns[4] : "고령자"}, inplace = True)
pop_Seoul.head()

### Pandas basic

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
CCTV_Seoul.head()

In [ ]:
CCTV_Seoul.sort_values(by='소계', ascending=True).head(5)
#전체 개수를 오름차순 정렬

In [ ]:
CCTV_Seoul.sort_values(by='소계', ascending=False).head(5)